body {
  margin: 0;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1 {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 15px;
}


::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: blue;
  text-align: center;
}

#map {
  width: 100%;
  height: calc(100vh - 68px);

}

#sidebar {
  position: absolute;
  top: 68px;
  left: 0;
  height: calc(100vh - 68px);
  overflow-y: scroll;
  width: 300px;
  background-color: white;
  text-align: center;
  z-index: 1000;
  align-items: center;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);

}

.sidebar-item:focus {
  border: 1px soldi blue;
}

@media screen and (max-width: 400px) {
  #sidebar {
    width: 100%;
  }
}

#sidebar.hide {
  transform: translate3d(-100vw, 0, 0);
  display: none;
}

#sidebar.show {
  transform: translate3d(0vw, 0, 0);
  display: block;

}

#close {
  margin-top: 10px;

}

#filter-input {
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  font-size: 20px;
  border: 2px solid #808000;
  -webkit-box-shadow: -2px 14px 12px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 14px 12px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 14px 12px -10px rgba(0, 0, 0, 0.75);

}


.sidebar-item {
  width: 80%;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.fa-filter {
  position: absolute;
  right: 39px;
  top: 65px;


}

@media screen and (max-width: 400px) {
  .fa-filter {
    right: 45px;
  }

}